

<br />
        <h5>Welcome!</h5>

        <div class="row">
          <div class="small-6 columns">
            <div class="callout ">
              <p><strong>Welcome</strong> If you're new, please sign up</p>
              <%=link_to("Sign up", {:controller => 'users', :action => 'new'}) %>
            </div>
          </div>
        </div>
        </div>

        <br />
<div class="row">
  <div class="small-6 columns">
    <div class="callout ">
      <p><strong>Been here before?</strong>Log in</p>
      <%=link_to('Log in', '/login' )%>
    </div>
  </div>
</div>

        <hr />
<!-- bottom of home page -->
