<h1>Log in</h1>

<div class="row">
  <div class="small-4 small-offset-1 columns">
    <%= form_for(:session, url: login_path) do |f| %>
<div class="field">
  <%= f.label :email %>
  <%= f.email_field :email %>
</div>

<div class="field">
  <%= f.label :password %>
  <%= f.password_field :password %>
</div>
</div>
        </div>
        <div class="row">
          <div class="small-4 small-offset-1 columns">
        <%= f.submit "Log in" %>
          </div>
        </div>
    <% end %>
<br>


    <div class="row">
      <div class="small-6 columns">
        <div class="callout ">
          <p>Don't have an account?</p>
          <%=link_to("Sign up", {:controller => 'users', :action => 'new'}) %>
        </div>
      </div>
    </div>