
/* header and sub nav */

$header-bg: #074E68;
$subnav-link-padding: 0.9rem;
$subnav-font-size: 0.65rem;
$subnav-link-opacity: 0.15;
$header-height: 2.5rem;
$transition: all .25s ease-in-out;

.header {
  text-align: center;
  background: $purple;
  background-size: cover;
  position: relative;
  overflow: visible;
  padding-top: $header-height;
  padding-bottom: $header-height + ($subnav-link-padding * 2 + $subnav-font-size - 0.15rem);

  .headline {
    color: #ffe;
  }
}

.header-subnav {
  float: none;
  position: absolute;
  text-align: center;
  margin: 0 auto;
  bottom: 0;
  width: 100%;
/* icons on subnav  */
  li {
    float: none;
    display: inline-block;

    a {
      padding: $subnav-link-padding 1rem;
      font-size: $subnav-font-size;
      color: #ffe;
      text-transform: uppercase;
      display: block;
      font-weight: bold;
      letter-spacing: 1px;
      transition: $transition;

      &.is-active {
        background: rgba(250,250,250,$subnav-link-opacity);
      }

      &:hover {
        background: rgba(250,250,250,$subnav-link-opacity);
        transition: $transition;
      }
    }
  }
}

li {
    text-align: center;
}



.wrd {
    padding-top: 5px !important;
}
