<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://use.fontawesome.com/caa7d91176.js"></script>
    <title><%= content_for?(:title) ? yield(:title) : "Tinker" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <body>


      <header class="header">
  <h1 class="headline">Tinker  <small>time</small></h1>
  <ul class="header-subnav">
    <section class="row-fluid">
        <nav class="span2">
            <ul class="side-nav nav nav-pills nav-stacked">
                <li><a href="#"><i class="fa fa-dashboard fa-2x"></i><br> <div class="wrd">Dashboard</div></a></li>
              <li><a href="http://localhost:3000"><i class="fa fa-home fa-2x"></i><br> <div class="wrd">Home</div></a></li>
              <li><a href="#"><i class="fa fa-envelope fa-2x"></i><br> <div class="wrd">Contact</div></a></li></ul>

        </nav>
    </section>
  </ul>
</header>
<div class="top-bar-right"><ul>
<li>
(Name + Email)
</li></ul></div>
<br>

     <div class="row">
       <div class="small-4 small-offset-2 columns">
      <% flash.each do |message_type, message| %>
      <div class="callout warning"<%= message_type %>><%= message %></div>
  <% end %>
     </div>
     </div>
    <%= yield %>

  </body>
</html>
